<h2>{{user.first_name}}'s Ideas!</h2>

<ul>
  {{#each user.project_ideas}}
    <li><a href="/users/{{../user.id}}/project-ideas/{{this.id}}">{{this.description}}</a></li>
    <br/>
  {{/each}}
  <a href="/users/{{user.id}}/project-ideas/new">New Idea</a>
</ul>
