<h1>{{pirate.name}}</h1>
<h2>Pirate Show Page</h2>

<ul class="pirate-show">
  <li>Name: {{pirate.name}}</li>
  <li>Birthplace: {{pirate.birthplace}}</li>
  <li>Year of Death: {{pirate.death_year}}</li>
  <li>Based in: {{pirate.base}}</li>
  <li>Nickname: {{pirate.nickname}}</li>
</ul>

  <a href="/pirates">Back Home</a>
